.popup__save-button {
  width: 358px;
  height: 50px;
  background-color: #000;
  border: none;
  border-radius: 2px;
  padding: 0;
  color: #ffffff;
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  margin-top: 17px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 36px;
  cursor: pointer;
}

.popup__save-button:disabled {
  border: 1px solid rgba(0, 0, 0, 0.2);
  background-color: rgba(255, 255, 255, 1);
  color: rgba(0, 0, 0, 0.2);
}

.popup__save-button:hover {
  background-color: rgba(0, 0, 0, 0.8);
  color: #fff;
}

@media screen and (max-width: 600px) {
  .popup__save-button {
    width: 238px;
    height: 46px;
    font-size: 14px;
    line-height: 17px;
    margin-bottom: 23px;
  }
}
