.popup__close-button {
  width: 32px;
  height: 32px;
  position: absolute;
  background-image: url(../../../images/popup_close_button.svg);
  top: 0;
  right: 0;
  transform: translate(40px, -40px);
  padding: 0;
  border: 0;
  background-color: rgba(0, 0, 0, 0);
  cursor: pointer;
}

.popup__close-button:hover {
  opacity: 0.6;
}

@media screen and (max-width: 600px) {
  .popup__close-button {
    width: 20px;
    height: 20px;
    transform: translate(0, -36px);
  }
}
